<div class="rant-form-container">

  <div class="profile-link">
    <%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id) %>
  </div>


  <div class="rant-form">
    <div class="errors">
      <% if flash[:error] %>
        <%= flash[:error] %>
        <br>
      <% end %>
    </div>


    <%= form_for @rant, url: rants_path do |f| %>
      <%= f.label :description, "A rant about:", class: "rant-description" %>
      <br>
      <%= f.text_field :description, class: "rant-description-textbox" %>
      <br>
      <%= f.label :rant, "Rant:", class: "rant-title" %>
      <br>
      <%= f.text_area :rant, class: "rant-textbox" %>
      <div class="rant-submit">
        <%= f.submit "RANT", class: "rant_button button_radius" %>
      </div>
    <% end %>

  </div>

</div>

<div class="dashboard-content">
  <div class="latest-rants">

    <h1 class="latest-rants-header">Latest Rants</h1>
    <% @rants.each do |rant| %>

      <% if rant.user_id != session[:user_id] %>

        <div class="rant-user-info">
          <%= link_to "#{rant.user.first_name}", user_path(rant.user.id) %>

          <div>
            <%= follow_link(rant.user) %>
          </div>
        </div>
        <div class="rant-text">
          <%= link_to rant.rant, rant_path(rant.id), class: 'rant-link' %>
          <div class="favorite-link">
            <%= favorite_link(rant) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my-rants">
    <h1 class="latest-rants-header">My Rants</h1>
    <% @user.rants.each do |rant| %>
      <div class="rant-text">
        <%= rant.rant %>
        <%= link_to "Delete", "/rants/#{rant.id}", :method => :delete %>
      </div>
    <% end %>
  </div>

  <div class="mentioned">
    <% if @mentions.any? %>
      <h1 class="latest-rants-header">Mentioned</h1>
      <% @mentions.each do |rant| %>
        <div class="rant-user-info">
          <%= link_to "#{rant.user.first_name}", user_path(rant.user.id) %>

          <div>
            <%= follow_link(rant.user) %>
          </div>
        </div>
        <div class="rant-text">
          <%= link_to rant.rant, rant_path(rant.id), class: 'rant-link' %>
          <div class="favorite-link">
            <%= favorite_link(rant) %>
          </div>
        </div>
      <% end %>
    <% else %>
      </div>
    <% end %>
    </div>