<div class="login-flex">
  <h1 class="latest-rants-header">Login</h1>
  <%= form_for @user, url: signin_path, html: {class: "signin-form"} do |f| %>
    <div class="errors">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
        <br>
      <% end %>
    </div>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, :size => "110x10" %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, :size => "110x10" %>
    </div>
    <div>
      <%= f.submit "Login", class: "login_button button_radius" %>
    </div>
  <% end %>
</div>