<article class="rant-form-container">
  <div class="errors">
    <% if @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |error| %>
        <%= error %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="profile-link">
    <%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id) %>
  </div>
  <div class="rant-form">
    <%= form_for @rant, url: rants_path do |f| %>
      <%= f.label :description, "A rant about:", class: "rant-description" %>
      <br>
      <%= f.text_field :description, class: "rant-description-textbox" %>
      <br>
      <%= f.label :rant, "Rant:", class: "rant-title" %>
      <br>
      <%= f.text_area :rant, class: "rant-textbox" %>
      <div class="rant-submit">
        <%= f.submit "RANT", class: "rant_button" %>
      </div>
    <% end %>
  </div>
</article>

<section class="dashboard-content">
  <h1 class="latest-rants-header">Favorites</h1>
  <% @user.favorites.each do |favorite| %>
    <%= tag("section", class:"favorite-rant", :data => {:rant_id => favorite.rant.id}) %>
    <div class="rant-user-info">
      <%= link_to favorite.rant.user.first_name, user_path(favorite.user) %>

      <div>
        <%= follow_link(favorite.rant.user) %>
      </div>
    </div>
    <div class="rant-text">

      <%= favorite.rant.description %>

      <div>
        <%= favorite.rant.rant %>
      </div>
      <div class="favorite-link">
        <%= link_to "Unfavorite(#{favorite.rant.favorites.count})", user_favorite_path(:rant_id => favorite.rant.id, :user_id => current_user.id, :id => favorite), method: :delete, data: {'rant-id' => favorite.rant.id, favorite: true, count: favorite.rant.favorites.count} %>
      </div>
    </div>
    </section>
  <% end %>
  </div>
</section>

