<div class="dash-flex-container">
  <div class="dash-flex1">
    <section class="dashboard-form">
      <%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path %>
      <%= form_for @rant, url: rants_path do |f| %>
        <div>
          <p>A rant about:</p>
          <%= f.text_field :description %>
        </div>
        <div>
          <p>Rant:</p>
          <%= f.text_area :rant, :size => '50x30' %>
        </div>
        <div class="rant-submit">
          <%= f.submit "RANT" %>
        </div>
      <% end %>
    </section>
  </div>


  <div class="dash-flex2">
    <h1 class="text-center rant-label">
      <%= @user.first_name %> <%= @user.last_name %>
      <div class="unfollow-button">
        <%= follow_button(@user) %>
      </div>
    </h1>
    <% @user.rants.each do |rant| %>
      <div>
        <div><p class="font-10pt">
          |  <%= link_to rant.rant, rant_path(rant.id), class: 'rant-link' %>
        </p></div>
      </div>
    <% end %>
  </div>
</div>