

<article class="rant-form-container">
  <div class="errors">
    <% if @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |error| %>
        <%= error %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="profile-link">
    <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user) %>
  </div>
  <div class="rant-form">
    <%= form_for @rant, url: rants_path do |f| %>
      <%= f.label :description, "A rant about:", class: "rant-description" %>
      <br>
      <%= f.text_field :description, class: "rant-description-textbox" %>
      <br>
      <%= f.label :rant, "Rant:", class: "rant-title" %>
      <br>
      <%= f.text_area :rant, class: "rant-textbox" %>
      <div class="rant-submit">
        <%= f.submit "RANT", class: "rant_button button_radius" %>
      </div>
    <% end %>
  </div>
</article>

<article class="dashboard-content">
  <section class="rants">
    <h1 class="text-center rant-label">
      <%= @user.first_name %> <%= @user.last_name %>
      <div class="unfollow-button">
        <%= follow_link(@user) %>
      </div>
    </h1>
    <% @user.rants.each do |rant| %>
      <div>
        <div><p class="font-10pt">
          |  <%= link_to truncate(rant.rant, length: 300), rant_path(rant.id), class: 'rant-link' %>
          | <%= favorite_link(rant) %>

        </p></div>
      </div>
    <% end %>
    </div>

  </section>


  <article class="comments">
    <div class="comments-display">
      <% if @comments != nil %>
        <% @comments.each do |comment| %>
          <div class="rant-comment">
            <%= comment.body %>
          </div>

        <% end %>
      <% end %>
    </div>
    <div class="comment-form">
      <%= form_for @comment, url: user_comments_path(@user) do |f| %>
        <br>
        <%= f.label :comment %>
        <br>
        <%= f.text_field :body, class: "comment-field" %>
        <br>
        <br>
        <%= f.submit "Create Comment", class: "button logout_button" %>
      <% end %>
    </div>
  </article>

</article>