<%= div_for @rants do %>
  <header>
    <h1>Latest Rants</h1>
  </header>
  <%= link_to rant.user, rant.user %>
  <%= button_to "Follow",  user_following_relationship_path(:user_id => current_user.id, :followed_user_id => rant.user_id),  method: :post %>

 <% end %>



<%= div_for @rants.where(:user_id => current_user.id) do %>
  <header>
    <h1>My Rants</h1>
  </header>
  <%= link_to rant.user, rant.user %>
  <%= link_to "Delete", "/rants/#{rant.id}", :method => :delete %>



<% end %>




