<article class="rant-form-container">
  <div class="errors">
    <% if @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |error| %>
        <%= error %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="profile-link">
    <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user.id) %>
  </div>
  <div class="rant-form">
    <%= form_for @rant, url: rants_path do |f| %>
      <%= f.label :description, "A rant about:", class: "rant-description" %>
      <br>
      <%= f.text_field :description, class: "rant-description-textbox" %>
      <br>
      <%= f.label :rant, "Rant:", class: "rant-title" %>
      <br>
      <%= f.text_area :rant, class: "rant-textbox" %>
      <div class="rant-submit">
        <%= f.submit "RANT", class: "rant_button" %>
      </div>
    <% end %>
  </div>
</article>

<article class="dashboard-content">
  <section class="rants">


    <h1 class="rant-show-header"><%= @_rant.description %> <p><%= favorite_link(@_rant) %></p></h1>

    <div class="rant-show">
      <p><%= link_to "#{@_rant.user.first_name} #{@_rant.user.last_name}", user_path(@_rant.user.id) %> <%= spam_link(@_rant) %> </p>


      <%= @_rant.rant %>
    </div>


  </section>

  <article class="comments">
    <div class="comments-display">
      <% if @comments != nil %>
        <% @comments.each do |comment| %>
          <div class="rant-comment">
            <%= comment.body %>
          </div>

        <% end %>
      <% end %>
    </div>


    <div class="comment-form">
      <%= form_for @comment, url: rant_comments_path(@_rant) do |f| %>
        <br>
        <%= f.label :comment %>
        <br>
        <%= f.text_field :body, class: "comment-field" %>
        <br>
        <br>
        <%= f.submit "Create Comment", class: "button logout_button" %>
      <% end %>
    </div>
  </article>


</article>