<article class="rant-form-container">
  <div class="errors">
    <% if @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |error| %>
        <%= error %>
        <br>
      <% end %>
    <% end %>
  </div>
  <div class="avatar">
    <%= image_tag @user.avatar.url(:small) %>
  </div>

  <div class="profile-link">
    <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user.id) %>
  </div>
  <div class="rant-form">
    <%= form_for @rant, url: rants_path do |f| %>
      <%= f.label :description, "A rant about:", class: "rant-description" %>
      <br>
      <%= f.text_field :description, class: "rant-description-textbox" %>
      <br>
      <%= f.label :rant, "Rant:", class: "rant-title" %>
      <br>
      <%= f.text_area :rant, class: "rant-textbox" %>
      <div class="rant-submit">
        <%= f.submit "RANT", class: "rant_button" %>
      </div>
    <% end %>
  </div>
</article>

<article class="dashboard-content">
  <section class="rants">
    <h1 class="latest-rants-header">Search</h1>
    <div class="search-area">
      <%= form_tag searches_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], class: 'search-field' %>
        <%= submit_tag "search", class: "search-submit", placeholder: "Search Here" %>
      <% end %>
    </div>
      <% @users.each do |user| %>
        <% user.rants.each do |rant| %>
          <div class="rant-user-info">
            <%= link_to "#{user.first_name}", user_path(user.id) %>

            <div>
              <%= follow_link(user) %>
            </div>
          </div>
          <div class="rant-text">
            <%= link_to markdown(truncate(rant.rant, length: 300)), rant_path(rant.id), class: 'rant-link' %>
          </div>
        <div>

        </div>
        <% end %>
      <% end %>
      <% @rants.each do |rant| %>
        <div class="rant-user-info">
          <%= link_to "#{rant.user.first_name}", user_path(rant.user.id) %>
          <div>
            <%= follow_link(rant.user) %>
          </div>
        </div>
        <div class="rant-text">
          <%= link_to markdown(truncate(rant.rant, length: 300)), rant_path(rant.id), class: 'rant-link' %>
        </div>
      <div>

      </div>
      <% end %>
  </section>
</article>