<div class="admin">
  <h1 class="latest-rants-header">Spam</h1>
  <div class="admin-links">
    <%= link_to "All", admin_rants_path %>
    <%= link_to "Spam", admin_spams_path %>

    <%= form_tag nil, :method => :get do %>
      <%= text_field_tag "start_date", params[:start_date], placeholder: "start date", :data => {:datepicker => nil} %>
      <%= text_field_tag "end_date", params[:end_date], placeholder: "end date", :data => {:datepicker => nil} %>
      <%= submit_tag "Filter", :class => "button" %>
    <% end %>

  </div>


  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <% @rants.each do |rant| %>
      <tr>
        <td><%= "#{rant.user.first_name} "  "#{rant.user.last_name}"  %></td>
        <td><%= rant.user.email %></td>
        <td><%= rant.description %></td>
        <td><%= link_to "Not Spam", rant_spam_path(rant), {method: :post} %> <%= link_to "Delete", rant_path(rant), {method: :delete} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>