<div class="admin">
  <h1 class="latest-rants-header">Users</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <%= link_to 'Sort by number of rant', sort: true %>
      <th>Number of Rants</th>
      <th>Disabled</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} " "#{user.last_name}" %></td>
        <td><%= user.email %></td>
        <td><%= user.rants.count %></td>
        <% if user.disabled? %>
          <td>√</td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <% if user.disabled? %>
            <%= link_to "Enable", enable_path(user) %>
          <% else %>
            <%= link_to 'Dsiable', disable_path(user) %>
          <% end %>
          <%= link_to "Impersonate", impersonate_path(user) %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
