<div class="dash-flex-container">
  <div class="dash-flex1">
    <section class="dashboard-form">
      <%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(current_user.id) %>
      <%= form_for @rant, url: rants_path do |f| %>
        <div>
          <p>A rant about:</p>
          <%= f.text_field :description %>
        </div>
        <div>
          <p>Rant:</p>
          <%= f.text_area :rant %>
        </div>

        <div class="rant-submit">
          <%= f.submit "RANT" %>
        </div>
      <% end %>
    </section>
  </div>


  <div class="dashboard-rants">
    <h1 class="rant-label">Following</h1>


    <% @following_relationships.each do |follower| %>

      <%= link_to follower.followed_user.first_name, user_path(follower.followed_user.id) %>
      <%= button_to "Unfollow", user_following_relationship_path(:user_id => follower.followed_user.id, :id => current_user.id), {:method => :delete} %>

    <% end %>

  </div>
</div>