<div class="rant-form-container" xmlns="http://www.w3.org/1999/html">
  <div class="errors">
    <% if @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |error| %>
        <%= error %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="profile-link">
    <%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id) %>
  </div>
  <div class="rant-form">
    <%= form_for @rant, url: rants_path do |f| %>
      <%= f.label :description, "A rant about:", class: "rant-description" %>
      <br>
      <%= f.text_field :description, class: "rant-description-textbox" %>
      <br>
      <%= f.label :rant, "Rant:", class: "rant-title" %>
      <br>
      <%= f.text_area :rant, class: "rant-textbox" %>
      <div class="rant-submit">
        <%= f.submit "RANT", class: "rant_button" %>
      </div>
    <% end %>
  </div>
</div>


<div class="dashboard-content">
  <h1 class="latest-rants-header">Following</h1>

  <% @following_relationships.each do |follower| %>
    <%= tag("section", class:"follow-user", :data => {:followed_user_id => follower.followed_user.id}) %>

    <%= link_to follower.followed_user.first_name, user_path(follower.followed_user.id) %>

    <br>
    <div>
      <%= link_to "Unfollow", user_following_relationship_path(:follower_id => current_user.id, :id => follower.followed_user.id), method: :delete, data: {'followed-user-id' => follower.followed_user.id, following: true} %>

    </div>
    </section>
  <% end %>
</div>