<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">

  <% if current_user %>
    <div class="logo">
      <%= link_to "Rant.ly", root_path %>
    </div>
    <span class="links">
      <%= link_to "Dashboard", users_path %>
    </span>
    <span class="links">
      <%= link_to "Following", "/users/:id/following" %>
    </span>
    <span class="links">
      <%= link_to "Favorites", "/users/:id/favorites" %>
    </span>
    <span class="links">
      <%= link_to "Search", "/users/:id/search" %>
    </span>

    <div class="join">
      <%= link_to "Logout", signout_path %>
    </div>
  <% else %>
    <div class="logo">
      <%= link_to "Rant.ly", root_path %>
    </div>


    <div class="join">
      <%= link_to "Join", new_user_path, method: 'get' %>
    </div>
    <div class="link">
      <%= link_to "login", signin_path %>
    </div>
  <% end %>

</div>

<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>

<div class="wrapper">
  <%= yield %>
</div>
</body>
</html>
