<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="header-flex-container">

  <% if current_user %>
    <span class="logo">
      <%= link_to "Rant.ly", root_path %>
    </span>
    <div class="app-flex4 dash-links">

    <span class="links">
      <%= link_to "Dashboard", dashboard_path(session[:user_id]) %>
    </span>
    <span class="links">
      <%= link_to "Following", user_following_relationships_path(current_user.id) %>
    </span>
    <span class="links">
      <%= link_to "Favorites", "/users/#{current_user.id}/favorites" %>
    </span>
    <span class="links">
      <%= link_to "Search", "/users/#{current_user.id}/search" %>
    </span>
    </div>

    <div class="join">
      <%= link_to "Logout", signout_path %>
    </div>

  <% else %>
    <div class="logo">
      <%= link_to "Rant.ly", root_path %>
    </div>


    <div class="join">
      <%= link_to "Join", new_user_path, method: 'get' %>
    </div>

    <div class="link">
      <%= link_to "login", signin_path %>
    </div>
  <% end %>

</section>

<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>

<section class="wrapper">

    <%= yield %>

</section>
</body>
</html>
