<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>

  <header class="header">
    <section class="clearfix">
      <div class="wrapper">
        <span class="links">
          <%= link_to "Rant.ly", root_path, class: "logo" %>
          <%= link_to "Dashboard", dashboard_path(session[:user_id]), class: "dashboard-links" %>
          <%= link_to "Following", user_following_relationships_path(current_user.id), class: "dashboard-links" %>
          <%= link_to "Favorites", "/users/#{current_user.id}/favorites", class: "dashboard-links" %>
          <%= link_to "Search", "/users/#{current_user.id}/search", class: "dashboard-links" %>
          <%= link_to "Logout", signout_path, class: "button button_radius logout_button" %>
        </span>
      </div>
    </section>
  </header>

<% else %>

  <header class="header">
    <section class="clearfix">
      <div class="wrapper">
        <span class="links">
          <%= link_to "Rant.ly", root_path, class: "logo" %>
          <%= link_to "login", signin_path, class: "button button_radius logout_button" %>
          <%= link_to "Join", new_user_path, method: 'get', class: "join-link" %>

      </span>
      </div>
    </section>
  </header>

<% end %>





<div class="wrapper">
  <section class="clearfix">

    <%= yield %>

  </section>
</div>
</body>
</html>
